body {
    background-color: #EEF7FF;
    color: black;
    font-size: 20px;
    text-align: center;
}

header {
    top:20px;
    width:100%;
    position:fixed;
}

#navbar {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-radius: 15px;
    background-color: #c6d4d4;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    gap: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    border-right: 1px solid #fff;
}

nav ul li a {
    font-size: 20px;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: width 0.3s, height 0.3s;
    background-color: #D2E9E9;
}

.container {
    animation: 1s fadeInUp;
    padding-top:200px;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}