body {
    background-color: #EEF7FF;
    color: black;
    font-size: 20px;
    text-align: center;
}

header {
    top:20px;
    width:100%;
    position:fixed;

}

#navbar {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-radius: 15px;
    background-color: #c6d4d4;
}

/*needs to be fixed*/
#nav-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    gap: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    border-right: 1px solid #fff;
}

nav ul li a {
    font-size: 20px;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: width 0.3s, height 0.3s;
    background-color: #D2E9E9;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: Arial;
}

.main-text {
    width: 40%;
}

.container {
    padding-top:200px;
    animation: 1s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.about, .why {
    padding-top: 150px;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    gap: 30px;
}

#about-head {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#mission {
    padding-top: 100px;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
    font-size: 25px;
    text-align: center;
}

/* Styles for images */
#main-img, #about-img, .why-img {
    border-radius: 20px;
    transition: transform .3s;
}

#h1-comments, #p-comments {
    font-family: Arial;
}

.comments {
    padding-top: 80px;
    padding-bottom:80px;
}

/* Adjust layout for smaller screens */
@media only screen and (max-width: 768px) {
    body {
        padding-left:10px;
        padding-right:10px;
    }
    .main-container, .about, .why {
        flex-direction: column;
    }

    .main-text, .about-text-container, .why-text-container {
        width: 100%;
    }

    .about, .why {
        padding-top: 100px;
    }

    #page-link, #estimate-link {
        font-size: 16px;
    }
}
