body {
    background-color:white;
    color:black;
}

nav {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    gap:30px;
}

#page-link, #estimate-link{
    font-size: 20px;
    color:black;
    text-decoration: none;
}

#estimate-link {
    background-image: linear-gradient(to right, rgba(25,229,217,255) , rgba(96,121,234,255));
    border-radius: 5px;
    padding:3px;
}

#main-sub {
    font-size: 20px;
}

.main-text {
    width:40%;
}

.container {
    animation: 1s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.main-container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding-top: 80px;
    font-family: Arial;
}

.about {
    padding-top:150px;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width:70%;
    gap:30px;
}

#about-head {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#about-description {
    font-size: 20px;
}

#about-img {
    border-radius: 20px;
    transition: transform .3s;
}

#about-img:hover {
    transform: scale(1.1);
}

#mission {
    padding-top:100px;
    font-family: Arial;
    display:flex;
    justify-content: center;
    margin:auto;
    width:75%;
    font-size: 25px;
    text-align: center;
}

